body {
    background-image:url(background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1 {
    color: darkblue;
    font-family: comic sans ms;
    font-size: 60px;
    text-align: center;
 
}
h3 a{
    color:rgb(240, 15, 10)
}
a{
    color: rgb(240, 15, 10);
}
h4{
    font-style: italic;
    text-align: center;
}
p {
    color: sandybrown;
    text-align: center;
}
.merah{
    color:black;
    text-align:center;
}
a:hover{
    color: darkblue;
    text-align: center;

}
h3{
    text-align:center;
}
